@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  /*main axis*/
  /*justify-content: center;*/

   /*cross axis*/
  align-items: center;

  /*between rows*/
  /*align-content: space-around;*/


  height: 80vh;
  border: 10px solid black;
  /*overflow: hidden;*/
  font-family: 'Lato';
  font-weight: 300;
}

.box {
  font-size: 80px;
  color: white;
  padding: 10px;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
}

.box1 { background-color: #e51400; }
.box2 { background-color: #fa6800; }
.box3 { background-color: #f0a30a; align-self: flex-start; }
.box4 { background-color: #e3c800; }
.box5 { background-color: #a4c400; }
.box6 { background-color: #60a917; }
.box7 { background-color: #00aba9; align-self: flex-end; }
.box8 { background-color: #1ba1e2; }
.box9 { background-color: #aa00ff; }
